.container {
    height: 33em;
}
textarea {
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    height: 350px;
    width: 650px;
}
.title {
    font-size: xx-large;
    font-family: "Times New Roman";
    font-weight: bolder;
}
.buttons {
    display: flex;
}

#upper-case, #lower-case, #proper-case, #sentence-case, #save-text-file {
    width: 9em;
    height: 3em;
    color: black;
    font-weight: bolder;
    margin-right: 8px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}